<%- include('includes/start.ejs') %>
</head>

<%- include('includes/navigation.ejs') %>
    <main>
    <h1>There is some error in sever </h1>
    <p>We are trying our best to solve this error, Thanks for your patitence</p>
    </main>
<%- include('includes/end.ejs') %>
